@import url('https://fonts.googleapis.com/css2?family=Dosin&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
    font:'Donis',sans-serif;
}

body{
    background-color: rgb(253, 253, 253);
    font-size: 20px;
}

.topo {
    width:100vw ;
    display: flex;
    justify-content: center;
}

.conteiner-topo {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 900px;
    height: 150px;
}

.conteiner-topo>div{
    padding: 19px;
}

.conteiner-topo>div p {
    font-size: 20px;
    text-align: center;
}
.conteiner-topo>div imput{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    padding left :10px ;
}